body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h2 {
    margin: 5px 0;
}

.role {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

.info p {
    font-size: 13px;
    margin: 6px 0;
}

.buttons {
    margin-top: 15px;
}

.buttons button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: darkgoldenrod;
}
